.row {
    display: flex;
    text-align: center;

    footer & {
        justify-content: center;
    }

    header &, #sections & {
        flex-direction: row;
    }

    @media screen and (max-width: $tablet) {
        flex-direction: column;
    }
}

.rowleft {
    display: flex;
    text-align: left;
   
}

.aligncenter {
    justify-content: center;
}

.product-grid {
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.middle {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

@media screen and (min-width: $tablet) {
    .row {
        flex-direction: row;
    }
}

.box {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: .5em;
    margin: 1%;
    text-decoration: none;
    color: rgba($darkgrey, 0.8);
    font-weight: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
   
    img {
        display: block;

        .iconbox & {
            margin-bottom: 12px;
            max-width: 280px;
            
        }
    }

    .user_level & {
        font-size: 1.5em;
        font-style: italic;
    }

    @media screen and (min-width: $desktop) {
        font-size: 20px;
    }

    font-weight: 200;
    background: rgba(#fff, 0.5);
    transition: all ease 0.3s;
    cursor: pointer;
    text-align: center;

    &:hover {}
}

.shadow {
    @include shadow(8px);
}

.half {
    @media screen and (min-width: $desktop) {
        width: 50%;
        margin: 1%;
    }
}

.quarter {
    &:nth-of-type(3n+n) {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.quarter.box {
    flex: 0 0 (100 / 4 - 2%);
    min-height: 80px;
}