$font_family_brand: 'ff-meta-web-pro', sans-serif;
$font_family: 'Source Sans Pro', sans-serif;

$primary: rgb(44, 149, 221); //2C95DD, primary blue
$green: rgb(100,209,218); //turquoise
$darkgrey: rgb(58,58,58);
$lightgrey: rgb(230,230,230);
$orange: rgb(250,157,48); //FA9D30
$mediumgrey: rgb(190,190,190);
$darkorange: rgb(250,145,43);
$lightorange: rgb(253,235,117);
$shadow: 0 0 5px rgba(0, 0, 0, 0.3);
$header: 70px;
$footer: 40px;
$nav: 40px;
$phone: 500px;
$tablet: 800px;
$mobile: 1000px;
$desktop: 1200px;